@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  font-family: "PT Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.856);
  margin: 10px;
  color: white;
}
h1 {
  font-size: 3rem;
}
.search {
  margin-top: 15vh;
  width: 50vw;
  margin-left: 25vw;
}
.heading {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
